a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    font-size: 1.3rem;
    /* font-weight: 600; */
    text-decoration: none;
    transition: all 200ms;
}

a.active {
    color: HSLA(var(--hsl-rune),1);
    transform: translateY(-.25em);
}